/* inter-regular - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - cyrillic_cyrillic-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter/inter-v13-cyrillic_cyrillic-ext_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

body {
	background-color: #F6F7F8;
	margin: 0;
	font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-row{
    flex-direction: row;
}
.block {
	display: block;
}
.d-none {
	display: none!important;
}
.position-relative {
    position: relative;
}
.m-t-8 {
    margin-top: 8px;
}
h1 {
	font-size: 61px;
	margin: 0;
}
p {
    margin: 0;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}