#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: #FFFFFF;
}
#header-left {
    margin-left: 24.166%;
}
#header-right {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 16px;
    cursor: pointer;
}
#cycle-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    min-height: 56px;
    min-width: 56px;
    border: 3px solid #2A3647;
}
#cycle-name p {
    color: #29ABE2;
    font-weight: 700;
}
#logo-header-mobile {
    display: none;
}
.overlay-header.overlay-hidden {
    display: none;
}
.overlay-header {
    position: absolute;
    top: 87px;
    right: 16px;
    z-index: 1;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 26px;
    border-radius: 20px 0px 20px 20px;
    color: #CDCDCD;
    gap: 16px;
    cursor: pointer;
}
.overlay-header a {
    color: #CDCDCD;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #header #text-top,
    #header #help-icon {
        display: none;
    }
    #header-right {
        margin-right: 16px;
    }
    #header-left {
        margin-left: 16px;
    }
    #logo-header-mobile {
        display: flex;
        height: 54px;
    }
}

/* @media (max-width:600px) {
    #header-right{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media (max-width: 1050px){
    #header-mobile{
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 200;
    box-shadow: 0px 0px 10px 1px ;
    display: flex;
    align-items: center;
   
}
    #logo-header-mobile{
    height: 54px; 
    margin-left: 24px;      
}
#cycle-name-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    min-height: 56px;
    min-width: 56px;
    border: 3px solid #2A3647;
    position: absolute;
    right: 34px;

}
#cycle-name-mobile p {
    color: #29ABE2 !important;
    font-weight: 700;
}

} */
