html{
    display: block;
}

body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter';
}

.heading1{
    margin-bottom: 0px;
    margin-left: 24px;
    margin-top: 0px;
}

#how-to-use{
    margin-top: 24px;
    margin-bottom: 24px;
}

#mainheading-top{
    margin-bottom: 28px;
}

.heading2{
    margin-top: 0px;
    margin-bottom: 40px ;
}

.txtsub{
    margin-left: 24px;
}

.content {
    margin-left: 300px;
    margin-top: 124px;
    max-width: 1200px;
    padding-right: 32px;
    padding-bottom: 94px;
}
.help-main {
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 50px;
    height: calc(100vh - 160px);
}

.kanban-title {
    display: none;
    margin-top: 30px;
}

.help-back-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 37px;
    height: 37px;
    width: 100%;
    padding-top: 40px;
    z-index: 1;
}

.helpTitleConteiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 81px;
}

.helpTitle {
    font-weight: 700;
    font-size: 3.5rem;
}

.part{
    display: flex;
    margin-top: 8px;
}
.part1{
    display: flex;
    margin-top: 32px;

}

#text-bottom{
    padding-bottom: 80px;
}

@media (max-width: 1000px) {
    .content{margin-left: 32px;
    }
}
.contractDetails {
    padding-left: 1.25cm;
  }
  
  p.BodyLeft,
  p.Body {
    margin-left: 0 !important;
  }
  
  p.BodyLeft p,
  p.Body p {
    margin-left: 0 !important;
  }
  
  p.BodyLeft p span,
  p.Body p span {
    margin-left: 0 !important;
  }
  
  p.BodyLeft p span span,
  p.Body p span span {
    margin-left: 0 !important;
  }
  
  .DieterLista,
  .DieterListi,
  .BulletList1 {
    padding-left: 1.25cm;
  }
  
  .DieterLista .number-prefix-p,
  .DieterListi .number-prefix-p,
  .BulletList1 .number-prefix-p {
    margin-left: -1.25cm;
    display: inline-block;
    width: 1.25cm;
  }
  
  .DieterListaIndent,
  .DieterListiIndent,
  .BulletList2 .number-prefix-p {
    margin-left: 1.25cm;
    display: inline-block;
    width: 1.25cm;
  }
  
  .DieterHeading2 .number-prefix-p,
  .DieterHeading3 .number-prefix-p,
  .DieterHeading4 .number-prefix-p {
    display: inline-block;
    width: 1.25cm;
    margin-left: -1.25cm;
  }
  
  .DieterHeading2,
  .HeadingLeft {
    font-weight: 600;
  }
  
  .DieterHeading2 span:not(.number-prefix-p) {
    margin-left: 0 !important;
  }
  
  .BulletListNoIndent {
    margin-left: 0 !important;
  }
  
  .BulletListNoIndent span {
    text-indent: 0;
  }
  
  .BulletListNoIndent .number-prefix-p {
    display: inline-block;
    width: 1.25cm;
    margin-left: -1.25cm;
  }
  
  .BulletListNoIndent span:not(.number-prefix-p) {
    text-indent: 1.25cm !important;
  }
  
  .HeadingLeft {
    margin-left: 0 !important;
    font-size: 1.25rem;
  }
  
  .HeadingLeft span {
    margin-left: 0 !important;
  }
  
  .DieterInvisible {
    display: none;
  }
  
  .multiline {
    white-space: pre-line;
  }
  